appdirs==1.4.4
audioread==2.1.9
beautifulsoup4==4.9.3
blis==0.7.4
bs4==0.0.1
CacheControl==0.12.6
cachetools==4.2.1
catalogue==2.0.1
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==7.1.2
cssselect==1.1.0
cycler==0.10.0
cymem==2.0.5
decorator==4.4.2
dominate==2.6.0
dryscrape==1.0
fake-useragent==0.1.11
firebase-admin==4.5.3
Flask==1.1.2
Flask-Bootstrap==3.3.7.1
Flask-Datepicker==0.14
flask-paginate==0.8.1
google-api-core==1.26.2
google-api-python-client==2.0.2
google-auth==1.28.0
google-auth-httplib2==0.1.0
google-cloud-core==1.6.0
google-cloud-firestore==2.0.2
google-cloud-storage==1.36.2
google-crc32c==1.1.2
google-resumable-media==1.2.0
googleapis-common-protos==1.53.0
grpcio==1.36.1
gunicorn==20.0.4
httplib2==0.19.0
ibm-cloud-sdk-core==3.8.0
ibm-watson==5.1.0
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.3
joblib==1.0.1
kiwisolver==1.3.1
librosa==0.8.0
livereload==2.6.3
llvmlite==0.36.0
lxml==4.6.3
MarkupSafe==1.1.1
matplotlib==3.3.4
meson==0.57.2
msgpack==1.0.2
multidict==5.1.0
murmurhash==1.0.5
mysql-connector-python==8.0.23
mysql-connector-python-rf==2.2.2
networkx==2.5
nltk==3.5
noisereduce==1.1.0
numba==0.53.1
numpy==1.20.1
oauthlib==3.1.0
p==0.0.0
packaging==20.9
pandas==1.2.3
parse==1.19.0
pathy==0.4.0
Pillow==8.1.2
pooch==1.3.0
preshed==3.0.5
proto-plus==1.18.1
protobuf==3.15.6
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAudio==0.2.11
pycparser==2.20
pydantic==1.7.3
pydub==0.25.1
pyee==8.1.0
pygal==2.4.0
PyJWT==2.0.1
pyparsing==2.4.7
pyppeteer==0.2.5
pyquery==1.4.3
PySocks==1.7.1
python-dateutil==2.8.1
pytz==2021.1
regex==2021.3.17
requests==2.25.1
requests-html==0.10.0
requests-oauthlib==1.3.0
resampy==0.2.2
rsa==4.7.2
scikit-learn==0.24.1
scipy==1.6.1
selenium==3.141.0
six==1.15.0
smart-open==3.0.0
SoundFile==0.10.3.post1
soupsieve==2.2.1
spacy==3.0.5
spacy-legacy==3.0.1
srsly==2.4.0
thinc==8.0.2
threadpoolctl==2.1.0
tornado==6.1
tqdm==4.59.0
tweepy==3.10.0
typer==0.3.2
uritemplate==3.0.1
urllib3==1.26.4
visitor==0.1.3
w3lib==1.22.0
wasabi==0.8.2
webkit-server==1.0
websocket-client==0.48.0
websockets==8.1
Werkzeug==1.0.1
wordcloud==1.8.1
WTForms==2.3.3
xvfbwrapper==0.2.9
