* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Plain', BlinkMacSystemFont, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
    font-size: 27px;
    color: #000;
    margin: 0;
}
td{
  font-size:15px;
}
#container {
    margin: 2em auto;
    width: 740px;
    padding: 2em 4em;
    background: #f1f7dc;
}

h1, h2 {
    font-family: 'Droid Serif', serif;
    font-size: 3em;
    margin: 0;
		padding-bottom: 1em;
}

h2 {
    font-size: 2em;
}

p{
      margin: 0px;
}
li{
    font-size: 0.5em;
  }

p, li {
    font-size: 2em;
}

p.credit {
	font-size: 0.9em;
}

img {
	display: block;
	margin: auto;
	max-width: 100%;
}

/* links */

a {
    color: #333333;
    font-size: 2em;
    text-decoration: none;
}

.container{
  margin-top:50px
}

/* media queries */

@media (max-width: 800px) {
    body {
      font-size: 1.2em;
      width:100%;
    }
    .logo{
      font-size:0.9em;
    }
    .navbar{
      width:100%;
    }
    .container {
        margin-left: 0.7em;
        width: 100%;
    }
}
