<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Covid Vaccine Checker</title>
	<link rel = "icon" href = "{{ url_for('static', filename='images/icon.jpeg') }}"
			 type = "image/x-icon">
  <link href="https://fonts.googleapis.com/css?family=Droid+Serif|Source+Sans+Pro" rel="stylesheet">
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

</head>

<body>


		<nav class="navbar navbar-expand-xl nav_area sticky" style="background:#fbfef9">
			<div class="container">
				<div class="logo">
					<a href="/index.html" class="logo-light">Covid Vaccine Checker</a>
				</div>
				<div class="navbar-collapse " id="navbarNav">
					<ul class="navbar-nav ml-auto navbar-center main_menu onepage_nav">
						<li class="nav-item">
							<a style="font-size: 0.5em;"class="nav-link" href="/index.html">Home</a>
							<li class="nav-item">
								<a style="font-size: 0.5em;"class="nav-link" href="/about.html">About</a>
					</ul>
	
				</div>
			</div>
		</nav>
		{% block body %}
	  {% endblock %}

</body>
</html>
