{% extends 'base.html' %}

{% block body %}

    <div class="container">
      <table class="table table-striped ">
        {% if invalid %}
        <h4> {{invalid}} </h4>
        {% else %}
				<h4> Pincode - {{pincode}}, Date - {{date}} </h4>
        {% endif %}
        <a href = "./nearbypincodes?date={{date}}&pincode={{pincode}}" <button style="float:right;margin-bottom:10px;margin-left:5px;" id="topButton" class="btn btn-outline-dark" type="button" name="button">Check nearby pincodes for this day</button></a>

        <a href = "./multipledatesnext?date={{date}}&pincode={{pincode}}" <button style="float:right;margin-bottom:10px;margin-left:5px;" id="topButton" class="btn btn-outline-dark" type="button" name="button">Check this pincode for next 5 Day</button></a>

        <a href = "./nextdates?date={{date}}&pincode={{pincode}}" <button style="float:right;margin-bottom:10px;" id="topButton" class="btn btn-outline-dark" type="button" name="button">Check this pincode for next day</button></a>

				{% if rows %}
				<thead>

    <tr>
      <th scope="col">Center Name</th>
      <th scope="col">District name</th>
      <th scope="col">Vaccine</th>
      <th scope="col">Minimum Age</th>
      <th scope="col">Slots Open</th>
    </tr>
  </thead>

{% for item in rows %}
<tr>
   <td>{{item.CenterName}}</td>
   <td>{{item.district_name}}</td>
   <td>{{item.vaccine}}</td>
   <td>{{item.min_age_limit}}</td>
   <td style="font-size:small">{{item.Slots}}</td>

</tr>
{% endfor %}
</table>

{% else %}
{% if not invalid %}
<p> No slots available. </p>
{% endif %}
{% endif %}

    </div>

		{% endblock %}
