{% extends 'base.html' %}

{% block body %}

    <div class="container">
      <a href = "./multiplenextdates?date={{lastdate}}&pincodes={{pincode}}" <button style="float:right;margin-bottom:10px;" id="topButton" class="btn btn-outline-dark" type="button" name="button">Check Next Day</button></a>

      {% for rows,invalid,date in vars %}

      <table style="margin-top:20px"class="table table-striped ">
        {% if invalid %}
        <h4> {{pincode}} - {{invalid}} </h4>
        {% else %}
				<h4> Pincode - {{pincode}}, Date - {{date}} </h4>
        {% endif %}


				{% if rows %}
				<thead>
    <tr>
      <th scope="col">Center Name</th>
      <th scope="col">District name</th>
      <th scope="col">Vaccine</th>
      <th scope="col">Minimum Age</th>
      <th scope="col">Available Capacity</th>
      <th scope="col">Slots Open</th>
    </tr>
  </thead>
{% for item in rows %}
<tr>
   <td>{{item.CenterName}}</td>
   <td>{{item.district_name}}</td>
   <td>{{item.vaccine}}</td>
   <td>{{item.min_age_limit}}</td>
   <td>{{item.available_capacity}}</td>
   <td style="font-size:small">{{item.Slots}}</td>

</tr>
{% endfor %}
</table>

{% else %}
{% if not invalid %}
<p> No slots available. </p>

{% endif %}
{% endif %}

{% endfor %}

</div>
		{% endblock %}
